<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Activités</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Activitées</h1>
        </header>
        <main>
            <div id="wave-container">
                <img id="wave-front" src="/static/images/wave-front.png">
                <div id="bottom-ocean"></div>
            </div>
        </main>
    </body>
</html>